1. Экран фильтрации, на котором можно:
   а) выбрать тип сортировки точек: по алфавиту, или по отдаленности
   b) выбрать измерение расстояния (км или мили);
2. Необходимо, если функция локации отключена, показывать диалог с кнопкой включения геолокации.