1. Добавить экран деталей пользователя:
    1) на экране должна быть возможность сменить город проживания;
2. Добавить экран для выбора города.
    1) на экране должен отображаться список доступных городов;
    2) нажимая на город, этот город сохраняется как пользовательский, и список точек сразу
    меняется в приложении на список из города, выбранного пользователем;
    3) экран должен поддерживать сохранение состояния.
3. При обновлении приложения делать проверку, установлен ли у пользователя город.
    1) если город не установлен показывать диалог с сообщением "Вы должны выбрать город", и по нажатию
    на ОК, открывается экран выбора города.
    2) если установлен, открывается главный экран, как в версии 1.2