1. Пользователь должен иметь возможность изменить данные
 о точке(рабочие часы и название точки; адрес остается неизменяемым).
2. Пользователь должен иметь возможность удалить точку через свайп.
3. Пользователь должен иметь возможность выбирать способ сортировки точек: по отдаленности, по дате добавления.
4. У пользователя должна быть возможность поиска места по адресу.