0. Пользователь должен войти под гугл записью, если планирует синхронизировать данные с сервером
1. Пользователь должен иметь возможность вести базу данных мест(адреса).
2. Приложение должно определять текущее месторасположение пользователя
3. Приложение должно отображать список мест из базы в порядке отдаленности от пользователя
4. Точки должны также отображаться на карте
5. Данные должны сохраняться в облачном хранилище